<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <style>
        .text {
            background-color: aqua;
            margin: 50px auto;
            padding-top: 50px;
            padding-bottom: 20px;
            text-align: center;
        }

        .text h2{
            color: red;
            font-size: 50px;
        }
    </style>
</head>
<body>
    <div class="text">
        <h2>{{ .content }}</h2>
    </div>
</body>
</html>